@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  /*======> Fonts <=======*/
  --font-dosis: var(--font-dosis);

  /*======> Custom Breakpoint <=======*/
  --breakpoint-*: initial;
  --breakpoint-xsm: 360px;
  --breakpoint-xs: 476px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-bs: 900px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1550px;

  /*======> Custom Colors <=======*/
  /*======> dark mode <=======*/
  --color-primary: #14a0f1;

  --color-primary-bg-dark: #0a0a0a;
  --color-secondary-bg-dark-1: #0e0e0e;
  --color-secondary-bg-dark-2: #111;
  --color-primary-text-dark: #e6f1fa;
  --color-secondary-text-dark: #dfdfdf;
  --color-dark-primary-border: #17181a;

  /*======> light mode <=======*/
  --color-primary-bg-light: #f2f9fd;
  --color-secondary-bg-light-1: #e5f2ff;
  --color-secondary-bg-light-2: #fafefe;
  --color-primary-text-light: #071d54;
  --color-secondary-text-light: #2a4f7c;
}
@layer components {
  .card-bg-gradient {
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff, #f8f9fa, #f8f5f5);
    box-shadow: 0px 2px 3px 1px #e6f1fa;
    border-radius: 12px;
    transform: translate(0);
    border: 1px solid #e5f2ff;
    @variant dark {
      background-color: #000000;
      background-image: linear-gradient(to bottom, #0e0e0e, #171717, rgba(34, 36, 38, 0.4));
      box-shadow: 0 2px 7px 0 #0006;
      border-radius: 12px;
      transform: translate(0);
      border: 1px solid #17181a;
    }
  }
  .gradient-text {
    background-image: linear-gradient(to right bottom, #8fd0ff, #3787ff, rgb(0, 201, 255), #144ee3);
    /* background-image: linear-gradient(to right, rgb(146, 254, 157), rgb(0, 201, 255)); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --toast-background: #fafefe;
    --toast-foreground: #18181b;
    --toast-border: #e4e4e7;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --toast-background: #000000;
    --toast-foreground: #fafafa;
    --toast-border: #17181a;
  }
}
